/* reset */

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 13, 13);
}

/* ---- navigation bar ---- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 0;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 82px;
  width: 82px;
}
.shop-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-left: 16px;
  font-family: "VT323", monospace;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 5rem;
}

.navbar-links a {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  line-height: 20px;
}

/*--- main area ----*/

.main-area {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 90px auto;
  /* width: 1200px; */
  flex-wrap: wrap;
}

.main-title {
  font-size: 80px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.5px;
  color: #fff;
  font-family: "VT323", monospace;
}

.main-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #bbb5d4;
  margin-top: 16px;
}

.buttons-main {
  display: flex;
  gap: 16px;
}

.text-area{
  margin-top: 10rem;
}


.text-area button {
  margin-top: 32px;
  width: 138px;
  height: 56px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.start-button {
  color: #fff;
  background-color: #7c3aed;
  border-radius: 8px;
  border-color: #7c3aed;
}

.video-button {
  color: #7c3aed;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 2px;
  border-style: none;
}

/* pixels section */

.header {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  color: #fff;
}
.carta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.carta {
  flex: 1;
  max-width: 300px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.carta img {
  width: 200px;
  height: 200px;
}

.carta p {
  color: #bbb5d4;
}

.btn-container {
  margin-top: 1rem;
  height: 20px;
}

.btn-container a {
  padding: 0.75rem;
  height: 200px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-right: 16px;
  background-color: #7c3aed;
  border-radius: 8px;
  color: black;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
}

.btn-container a:hover {
  background-color: #7c01b4;
}

/* form  */

footer {
  margin-top: 10rem;
}

.form-container {
  margin: 2rem auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  background-image: url(./images/form-bg.png);
  background-size: cover;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: whitesmoke;
  font-family: "Press Start 2P", cursive;

}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background-blend-mode: overlay;
  color: whitesmoke;
  font-weight: bolder;
}
.form-group textarea {
  resize: vertical;
  color: white;

}
.form-group input[type="submit"] {
  background-color: #7c3aed;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;

}
.form-group input[type="submit"]:hover {
  background-color: #7c01b4;
}

/* media icons  */

.media-icons {
  bottom: 0;
  right: 0;
  padding: 10px; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: auto; 
}

.media-icons a {
  margin: 0 5px; 
}

.media-icons img {
  height: 20px;
  width: 20px;
}



.os-title{
  text-align: center;
  margin-top: 10rem;
  font-family: "VT323", monospace;
  font-size: 3.5rem;
  color: whitesmoke;
}

#carouselExampleFade {
  margin: 1rem auto;
  width: 70%;

}



/* index mobile version  */



@media (max-width: 600px) {

  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .navbar-links{
   margin: 1rem auto;
  
  }

  .buttons-main {
    justify-content: center;
  }
}













/* ------- MONSTERS HTML ------- */


.monstr-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "VT323", monospace;
  font-size: 3.5rem;
  color: whitesmoke;
}



.monster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8rem;
}

.monster-container span {
  font-weight: bolder;
  color: #7c3aed;
}

.monstr {
  max-width: 300px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}
.monstr img {
  width: 200px;
  height: 200px;
}

/* video carousel  */

.carousel-monster{
  margin: 1rem auto;
  width: 70%;
  text-align: center
}

.video-carousel-title{
  color: tomato;
  font-family: "VT323", monospace;
  font-size: 2rem;
}


