.main-area .text-area .buttons-main .start-button {
  color: #fff;
  background-color: #7c3aed;
  border-radius: 8px; }

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0e0d0d; }

.navbar {
  background-color: transparent; }
  .navbar .navbar-brand {
    font-family: "Press Start 2P", cursive; }
  .navbar .container-fluid button {
    background-color: #7c3aed;
    opacity: 0.6; }
  .navbar .nav-link {
    color: #fff; }
    .navbar .nav-link:hover {
      color: #7c3aed; }

.animated-underline {
  position: relative;
  color: #7c3aed;
  text-decoration: none;
  transition: color 0.3s ease; }

.animated-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #7c3aed;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.8s ease; }

.animated-underline:hover {
  color: #ff6600; }

.animated-underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left; }

@media (max-width: 600px) {
  .animated-underline::before {
    transform-origin: left; }
  .animated-underline:hover::before {
    transform: scaleX(0.2);
    transform-origin: left; } }

footer {
  margin-top: 10rem; }
  footer .form-container {
    margin: 2rem auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    background-image: url(./images/form-bg.png);
    background-size: cover; }
    footer .form-container form .form-group {
      margin-bottom: 15px; }
      footer .form-container form .form-group label {
        display: block;
        margin-bottom: 5px;
        color: whitesmoke;
        font-family: "Press Start 2P", cursive; }
      footer .form-container form .form-group input[type="text"],
      footer .form-container form .form-group input[type="email"],
      footer .form-container form .form-group textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
        background-blend-mode: overlay;
        color: whitesmoke;
        font-weight: bolder; }
        footer .form-container form .form-group input[type="text"].textarea,
        footer .form-container form .form-group input[type="email"].textarea,
        footer .form-container form .form-group textarea.textarea {
          resize: vertical;
          color: white; }
      footer .form-container form .form-group input[type="submit"] {
        background-color: #7c3aed;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-family: "Press Start 2P", cursive; }
        footer .form-container form .form-group input[type="submit"]:hover {
          background-color: #7c01b4; }
  footer .media-icons {
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto; }
    footer .media-icons a {
      margin: 0 5px; }
    footer .media-icons img {
      height: 20px;
      width: 20px; }

.main-area {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 90px auto;
  flex-wrap: wrap; }
  .main-area .text-area {
    margin-top: 10rem; }
    .main-area .text-area .main-title {
      font-size: 80px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -1.5px;
      color: #fff;
      font-family: "VT323", monospace; }
    .main-area .text-area .main-text {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      color: #bbb5d4;
      margin-top: 16px; }
    .main-area .text-area .buttons-main {
      display: flex;
      gap: 16px; }
      .main-area .text-area .buttons-main a {
        text-decoration: none; }
      .main-area .text-area .buttons-main button {
        margin-top: 32px;
        width: 138px;
        height: 56px;
        font-size: 16px;
        text-align: center;
        font-weight: 600; }
      .main-area .text-area .buttons-main .start-button {
        border-color: #7c3aed; }
      .main-area .text-area .buttons-main .video-button {
        color: #7c3aed;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 2px;
        border-style: none; }

section .header {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  color: #fff; }

section .carta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; }
  section .carta-container .carta {
    flex: 1;
    max-width: 300px;
    border-radius: 5px;
    padding: 10px;
    text-align: center; }
    section .carta-container .carta img {
      width: 200px;
      height: 200px; }
    section .carta-container .carta p {
      color: #bbb5d4; }
    section .carta-container .carta .btn-container {
      margin-top: 1rem;
      height: 20px; }
      section .carta-container .carta .btn-container a {
        padding: 0.75rem;
        height: 200px;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        background-color: #7c3aed;
        border-radius: 8px;
        color: black;
        font-family: "Press Start 2P", cursive;
        text-decoration: none; }
        section .carta-container .carta .btn-container a:hover {
          background-color: #7c01b4; }

.os-title {
  text-align: center;
  margin-top: 10rem;
  font-family: "VT323", monospace;
  font-size: 3.5rem;
  color: whitesmoke; }

.carousel {
  margin: 1rem auto;
  width: 70%; }

@media (max-width: 600px) {
  section .carta-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center; }
  .main-area {
    text-align: center; }
  .buttons-main {
    display: flex;
    justify-content: center;
    align-items: center; } }

main .monstr-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "VT323", monospace;
  font-size: 3.5rem;
  color: whitesmoke; }

main .monster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8rem; }
  main .monster-container .monstr {
    max-width: 300px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: whitesmoke; }
    main .monster-container .monstr img {
      width: 200px;
      height: 200px; }
    main .monster-container .monstr span {
      font-weight: bolder;
      color: #7c3aed; }

.carousel-monster {
  margin: 1rem auto;
  width: 70%;
  text-align: center; }
  .carousel-monster .video-carousel-title {
    color: tomato;
    font-family: "VT323", monospace;
    font-size: 2rem; }

section .gallery-title {
  text-align: center;
  margin-top: 10rem;
  font-family: "Press Start 2P", cursive;
  color: #7c3aed; }

section .gallery-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto;
  width: 80%; }
  section .gallery-container .img-gal-container {
    position: relative; }
  section .gallery-container .imgbruno:hover {
    transition: all 1s ease;
    opacity: 1;
    filter: blur(3px) grayscale(100%); }
    section .gallery-container .imgbruno:hover + .pbruno {
      pointer-events: none;
      opacity: 1;
      text-align: center;
      color: yellow;
      font-size: 35px;
      font-family: "VT323", monospace; }
      section .gallery-container .imgbruno:hover + .pbruno img {
        width: 100px;
        opacity: 1; }
  section .gallery-container .pbruno {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  section .gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

section .image-grid-col-2 {
  grid-column: span 2; }

@media (max-width: 600px) {
  section .gallery-container {
    display: grid;
    grid-template-columns: 1fr; }
    section .gallery-container .image-grid-col-2 {
      grid-column: span 1; } }

.food-title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: "Press Start 2P", cursive;
  color: #7c3aed; }

.main-food {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  flex-wrap: wrap;
  gap: 2rem; }
  .main-food h1 {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 1.5rem;
    color: #7c01b4; }

.food-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .food-container .food-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; }
    .food-container .food-categories img {
      max-width: 100%; }

@media (max-width: 600px) {
  .food-container .food-categories {
    grid-template-columns: 1fr;
    /* Single column */ } }

.anime-title {
  text-align: center;
  margin-top: 5rem;
  font-family: "VT323", monospace;
  font-size: 5rem;
  color: #7c3aed; }

.pixel-song {
  display: flex;
  justify-content: center;
  align-items: center; }

.op-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem; }
