// index main area

.main-area {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 90px auto;
  flex-wrap: wrap;

  .text-area {
    margin-top: 10rem;

    .main-title {
      font-size: 80px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -1.5px;
      color: #fff;
      font-family: $primary-title;
    }

    .main-text {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      color: #bbb5d4;
      margin-top: 16px;
    }

    .buttons-main {
      display: flex;
      gap: 16px;
      a {
        text-decoration: none;
      }

      button {
        margin-top: 32px;
        width: 138px;
        height: 56px;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
      }

      .start-button {
        color: #fff;
        background-color: $main-color;
        border-radius: 8px;
        border-color: $main-color;
      }

      .video-button {
        color: $main-color;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 2px;
        border-style: none;
      }
    }
  }
}

// index card section

section {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    color: #fff;
  }

  .carta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    .carta {
      flex: 1;
      max-width: 300px;
      border-radius: 5px;
      padding: 10px;
      text-align: center;

      img {
        width: 200px;
        height: 200px;
      }

      p {
        color: #bbb5d4;
      }

      .btn-container {
        margin-top: 1rem;
        height: 20px;

        a {
          padding: 0.75rem;
          height: 200px;
          font-size: 16px;
          text-align: center;
          font-weight: 600;
          background-color: $main-color;
          border-radius: 8px;
          color: black;
          font-family: $secondary-title;
          text-decoration: none;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}

// carousel

.os-title {
  text-align: center;
  margin-top: 10rem;
  font-family: $primary-title;
  font-size: 3.5rem;
  color: whitesmoke;
}
.carousel {
  margin: 1rem auto;
  width: 70%;
}

// index mobile

@media (max-width: 600px) {
  section .carta-container {
    @include grid-column;
    place-items: center;
  }

  .main-area {
    text-align: center;
  }

  .buttons-main {
    @include flex-center;
  }
}

// .main-area  {
//   @include mobile
//   {
//     text-align: center;

//     .buttons-main {
//       @include flex-center;
//     }
//   }
//   section .carta-container {
//     background-color: red;
//     display: grid;
//     grid-template-columns: 1fr;
//     margin-bottom: 1rem;
//     @include flex-center;
//     flex-direction: column;
//     .carta {
//       margin-bottom: 3rem;
//     }
//   }
// }

// monster html

main {
  .monstr-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: $primary-title;
    font-size: 3.5rem;
    color: whitesmoke;
  }
  .monster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;

    .monstr {
      max-width: 300px;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      color: whitesmoke;

      img {
        width: 200px;
        height: 200px;
      }

      span {
        font-weight: bolder;
        color: $main-color;
      }
    }
  }
}

// video monster corousel

.carousel-monster {
  margin: 1rem auto;
  width: 70%;
  text-align: center;

  .video-carousel-title {
    color: tomato;
    font-family: $primary-title;
    font-size: 2rem;
  }
}

// monster gallery grid

section {
  .gallery-title {
    text-align: center;
    margin-top: 10rem;
    font-family: $secondary-title;
    color: $main-color;
  }

  .gallery-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 2rem auto;
    width: 80%;
        .img-gal-container {
    position: relative;
       
        }

        .imgbruno {
          &:hover {
            transition: all 1s ease;
            opacity: 1;
            filter: blur(3px) grayscale(100%);
            +.pbruno {
              pointer-events: none;
              opacity: 1;
              text-align: center;
              color: yellow;
              font-size: 35px;
              font-family: $primary-title;
     

              img {
                width: 100px;
                opacity: 1;
              }
            }
          }
        }

        .pbruno {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // &:hover {
      //   opacity: 0.5;
      //   filter: grayscale(100%) blur(3px);
        
      }
        
    }
    .image-grid-col-2 {
      grid-column: span 2;
    }
  }


// mobile monster

section .gallery-container {
  @include mobile {
    @include grid-column;

    .image-grid-col-2 {
      grid-column: span 1;
    }
  }
}

//  food main

.food-title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: $secondary-title;
  color: $main-color;
}

.main-food {
  @include flex-center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  flex-wrap: wrap;
  gap: 2rem;
  h1 {
    font-family: $secondary-title;
    text-align: center;
    font-size: 1.5rem;
    color: $secondary-color;
  }
}

.food-container {
  @include flex-center;
  .food-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    img {
      max-width: 100%;
    }
  }
}

.food-container {
  @include mobile {
    .food-categories {
      grid-template-columns: 1fr; /* Single column */
    }
  }
}

// anime page

.anime-title {
  text-align: center;
  margin-top: 5rem;
  font-family: $primary-title;
  font-size: 5rem;
  color: $main-color;
}

.pixel-song {
  display: flex;
  justify-content: center;
  align-items: center;
}

.op-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
