.navbar {
  background-color: transparent;

  .navbar-brand {
    font-family: $secondary-title;
  }
  .container-fluid {
    button {
      background-color: $main-color;
      opacity: 0.6;
    }
  }

  .nav-link {
    color: #fff;

    &:hover {
      color: $main-color;
    }
  }
}


// animations

.animated-underline {
  position: relative;
  color: $main-color;
  text-decoration: none;
  transition: color 0.3s ease; 
}

.animated-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $main-color;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.8s ease;
}

.animated-underline:hover {
  color: #ff6600;
}

.animated-underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 600px) {
  .animated-underline::before {
    transform-origin: left;
  }
  .animated-underline:hover::before {
    transform: scaleX(0.2);
    transform-origin: left;
  }
}
